@model WebApplication11.DataAccess.HastaYakını

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3><b>Silmek istediğinize emin misiniz?</b></h3>
<div>
    <h4>HastaYakını</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ad Soyad:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class="col-sm-2">
            T.C No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TCNo)
        </dd>
        <dt class="col-sm-2">
            Doğum Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class="col-sm-2">
            Hasta Adı Soyadı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HastaTCNavigation.Adsoyad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TCNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-light" asp-action="Index">Back to List</a>
    </form>
</div>
