@model WebApplication11.DataAccess.Ilac

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ilac</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                İlaç İsmi:
                <input asp-for="IlacIsmi" class="form-control" />
                <span asp-validation-for="IlacIsmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Etken İsmi:
                <input asp-for="EtkenIsmi" class="form-control" />
                <span asp-validation-for="EtkenIsmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Kullanım Amacı:
                <input asp-for="KullanımAmacı" class="form-control" />
                <span asp-validation-for="KullanımAmacı" class="text-danger"></span>
            </div>
            <div class="form-group">
                Firma İsmi:
                <select asp-for="FirmaIsmi" class ="form-control" asp-items="ViewBag.FirmaIsmi"></select>
            </div>
            <div class="form-group">
                Tedavi İsmi:
                <input asp-for="TedaviIsmi" class="form-control" />
                <span asp-validation-for="TedaviIsmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Hasta:
                <select asp-for="HastaTCNo" class ="form-control" asp-items="ViewBag.HastaTCNo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
