@model WebApplication11.DataAccess.Doktor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                T.C No:
                <select asp-for="TCNo" class ="form-control" asp-items="ViewBag.TCNo"></select>
            </div>
            <div class="form-group">
                Ad Soyad:
                <input asp-for="AdSoyad" class="form-control" />
                <span asp-validation-for="AdSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cinsiyet:
                <input asp-for="Cinsiyet" class="form-control" />
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                Doğum Tarihi:
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                Çalıştığı Brim:
                <select asp-for="CalıstığıBrim" class ="form-control" asp-items="ViewBag.CalıstığıBrim"></select>
            </div>
            <div class="form-group">
                Sifre:
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                İlgilenen Yönetici:
                <select asp-for="IlgilenenYönetici" class ="form-control" asp-items="ViewBag.IlgilenenYönetici"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
